# Kinds of Scalling
### And Equation of them

1. `Normalization`<br><img style="width:400px;" src="https://miro.medium.com/max/1400/1*bri-58JU3HSHqGVq9lh4fA.png"/><br><br>
1. `Standardization`<br><img style="width:400px;" src="https://arshpreetsingh.files.wordpress.com/2017/03/normal.png" /><br><br>
1. `Max Absolute Scaler`<br><img style="width:400px;" src="https://miro.medium.com/max/466/1*qa_W9JzNscAXpTtc44yhow.png" /><br><br>
1. `Robust Scaler`<br><br>IQR = 75th quantile - 25th quantile<br><img style="width:400px;" src="https://miro.medium.com/max/1008/1*N0cPiRvreurI_rKU55g1Eg.png" /><br>

# Applying all these on a DataSet

### Importing the dataSet

In [1]:
import pandas as pd
df = pd.read_csv('supershops.csv')

In [2]:
df.head(5)

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [3]:
df.describe()

       Marketing Spend  Administration      Transport         Profit
count        50.000000       50.000000      49.000000      50.000000
mean      73721.615600   121344.639600  215331.732449  112012.639200
std       45902.256482    28017.802755  119665.391550   40306.180338
min           0.000000    51283.140000       0.000000   14681.400000
25%       39936.370000   103730.875000  134050.070000   90138.902500
50%       73051.080000   122699.795000  214634.810000  107978.190000
75%      101602.800000   144842.180000  299737.290000  139765.977500
max      165349.200000   182645.560000  471784.100000  192261.830000

In [4]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

`Applying on these feature: 'Marketing Spend',	'Administration',	'Transport'`

# 1. Normalization

In [5]:
from sklearn.preprocessing import MinMaxScaler
NormalizationScaller = MinMaxScaler()

In [6]:
df1 = df.copy()

In [7]:
df1['Marketing Spend']= NormalizationScaller.fit_transform(df1[['Marketing Spend']])
df1['Administration']= NormalizationScaller.fit_transform(df1[['Administration']])
df1['Transport']= NormalizationScaller.fit_transform(df1[['Transport']])

In [8]:
df1.head(5)

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

# 2. Standardization

In [9]:
from sklearn.preprocessing import StandardScaler
StandardizationScaler = StandardScaler()

In [10]:
df2 = df.copy()

We can use StandardizationScaler.fit() and then StandardizationScaler.transform() function separately. (first function for calculation from given data and 2nd function for changing and returning)

In [11]:
df2['Marketing Spend']= StandardizationScaler.fit_transform(df2[['Marketing Spend']])
df2['Administration']= StandardizationScaler.fit_transform(df2[['Administration']])
df2['Transport']= StandardizationScaler.fit_transform(df2[['Transport']])

In [12]:
df2.head(5)

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   2.165287    Dhaka  192261.83
1         1.955860        1.082807   1.929843      Ctg  191792.06
2         1.754364       -0.728257   1.626191  Rangpur  191050.39
3         1.554784       -0.096365   1.417348    Dhaka  182901.99
4         1.504937       -1.079919   1.273550  Rangpur  166187.94

# 3. Max Absolute Scaler

In [13]:
from sklearn.preprocessing import MaxAbsScaler
MaxAbs_Scaler = MaxAbsScaler()

In [14]:
df3 = df.copy()

In [15]:
df3['Marketing Spend']= MaxAbs_Scaler.fit_transform(df3[['Marketing Spend']])
df3['Administration']= MaxAbs_Scaler.fit_transform(df3[['Administration']])
df3['Transport']= MaxAbs_Scaler.fit_transform(df3[['Transport']])

In [16]:
df3.head(5)

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.749527   1.000000    Dhaka  192261.83
1         0.983359        0.828805   0.940893      Ctg  191792.06
2         0.927985        0.553781   0.864664  Rangpur  191050.39
3         0.873136        0.649738   0.812235    Dhaka  182901.99
4         0.859438        0.500378   0.776136  Rangpur  166187.94

# 4. Robust Scaler

In [17]:
from sklearn.preprocessing import RobustScaler
Robust_Scaler = RobustScaler()

In [18]:
df4 = df.copy()

In [19]:
df4['Marketing Spend']= Robust_Scaler.fit_transform(df4[['Marketing Spend']])
df4['Administration']= Robust_Scaler.fit_transform(df4[['Administration']])
df4['Transport']= Robust_Scaler.fit_transform(df4[['Transport']])

In [20]:
df4.head(5)

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.552016    Dhaka  192261.83
1         1.452113        0.697565   1.383714      Ctg  191792.06
2         1.303634       -0.524290   1.166654  Rangpur  191050.39
3         1.156567       -0.097977   1.017368    Dhaka  182901.99
4         1.119836       -0.761543   0.914576  Rangpur  166187.94